In [1]:
import pandas as pd

In [2]:
pd.Series(range(1,10))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [3]:
pd.DataFrame([["p1","u1"]], columns=['product','userid'])

  product userid
0      p1     u1

In [4]:
df = pd.DataFrame({ "苹并":[88, 99, 92], "香蕉":[70, 90, 95],}, index=["1进","2进", "3进"])
df

    苹并  香蕉
1进  88  70
2进  99  90
3进  92  95

In [5]:
df[df["香蕉"]>90]

    苹并  香蕉
3进  92  95

In [6]:
df.sum()

苹并    279
香蕉    255
dtype: int64

In [7]:
import pandas as pd

In [8]:
a1 = pd.DataFrame({'a':[1,2],'b':[3,4]})
a2 = pd.DataFrame({'a':[5,6],'b':[7,7]})

In [9]:
df1 = pd.DataFrame({ "苹宋":[88, 99, 92], "香蕉":[70, 90, 95],}, index=["1染","2染", "3染"] )
df2 = pd.DataFrame({ "眼竹":[88, 99, 92], "杆瓜":[70, 90, 95],}, index=["1染","2染", "3染"] )

In [10]:
df1

    苹宋  香蕉
1染  88  70
2染  99  90
3染  92  95

In [11]:
import numpy as np

In [12]:
df = pd.DataFrame(np.random.randint(0,100, size=10))

In [13]:
pd.cut(df[0],bins=[60,80,100],right=False).value_counts()

0
[60, 80)     5
[80, 100)    1
Name: count, dtype: int64

In [14]:
data = pd.read_excel('Coral和Niki的记账.xlsx')
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']  # 指定支持中文的字体
plt.rcParams['axes.unicode_minus'] = False    # 解决负号显示问题

In [15]:
data.sort_values(by=['金额'])

       姓名  类别       金额      备注         日期
28  Coral  交通      1.5     NaN 2025-04-30
23  Coral  交通      2.4     NaN 2025-04-30
5   Coral  交通      2.4     NaN 2025-04-28
31  Coral  交通      2.4     NaN 2025-04-30
20  Coral  交通      2.4     NaN 2025-04-29
..    ...  ..      ...     ...        ...
2    Niki  学习   9500.0  2个月健身卡 2025-02-01
63   Niki   住  10600.0   2个月房租 2025-01-01
4    Niki  娱乐  11000.0      迪拜 2025-02-01
21  Coral  学习  12900.0   学习ai课 2025-03-29
58  Coral   住  31800.0   6个月房租 2025-01-01

[70 rows x 5 columns]

### 数据分析

In [17]:
import pandas as pd

In [18]:
# 导入阿里14年用户行为数据
pdata = pd.read_csv("user_action.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'user_action.csv'

In [ ]:
pdata['ts'] = pd.to_datetime(pdata['time'])

In [ ]:
pdata['day'] = pdata.ts.map(lambda t: t.date())

In [ ]:
pdata['hour'] = pdata.ts.map(lambda t: t.hour)

In [ ]:
daily_uv = pdata.groupby('day')['user_id'].apply(lambda ids: ids.drop_duplicates().count())
daily_pv = pdata.groupby('day')['user_id'].count()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(10,4))
plt.plot(daliy_pv.index.values, daily_pv.values, 'r')
plt.xticks(rotation=30)
plt.figure(figsize=(10,4))
plt.plot(daliy_uv.index.values, daily_uv.values, 'g')
plt.xticks(rotation=30)
plt.show()

In [ ]:
paied_data = pdata[pdata['behavior_type'] == 4]

In [ ]:
paied_data_by_user = paied_data.groupby('user_id')['user_id'].count()

In [ ]:
paied_data_by_user.plot.hist(bins=20)

In [ ]:
repaied_data_by_user = paied_data.groupby('user_id')['day'].apply(lambda r: len(r.unique()))

In [ ]:
repaied_ratio = repaied_data_by_user[repaied_data_by_user>1].count()/repaied_data_by_user.count()

In [ ]:
repaied_ratio

In [ ]:
day_interval = paied_data.groupby('user_id')['day'].apply(lambda bds: bds.sort_values().diff(1).dropna()).map(lambda x: x.days)

In [ ]:
day_interval = day_interval[day_interval > 0]

In [ ]:
day_interval.value_counts().plot.bar()
plt.title('times')
plt.xlabel('days')
plt.ylabel('gap_count')

In [ ]:
paied_data

In [ ]:
pdata

In [ ]:
import seaborn as sns

In [ ]:
import numpy as np

In [ ]:
pdata['num'] = np.ones_like(pdata['hour'])

In [ ]:
sns.lineplot(pdata,x='day',y='num',estimator='sum')